# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.env
.venv/
venv/

# SQLite databases (no commitear datos del lab)
*.db
*.sqlite
*.sqlite3

# Docker volumes
data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
